.home{
    width: 85%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(#000, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    .allusers{
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow-y: auto;
        .myinfo{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-content: center;
            background-color: #ffff;
            padding: 10px;
            cursor: pointer;
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 15px;
            }
            .info{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p{
                    margin: 0;
                    padding: 0;
                    &:first-of-type{
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    .users{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border-radius: 8px 0 0 8px;
        padding: 10px;
        overflow-y: auto;
        &::-webkit-scrollbar{
            width: 7px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: rgb(36, 36, 36);
            cursor: pointer;
            transition: 0.4s;
            &:hover{
                background-color: aquamarine;
            }
        }
        .user-info{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-content: center;
            background-color: #b8b8b8;
            padding: 10px;
            cursor: pointer;
            transition: 0.4s;
            &:hover{
                background-color: rgb(155, 202, 186);
            }
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 15px;
            }
            .info{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p{
                    margin: 0;
                    padding: 0;
                    &:first-of-type{
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    .window{
        width: 75%;
        height: 100%;
        background-color: #ddddf6;
        border-radius: 0 8px 8px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        .window-header{
            background-color: #5e5b8e;
            width: 100%;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            p{
                color: #fff;
            }
        }
        .window-body{
            width: 100%;
            padding: 10px 20px;
            flex-grow: 1;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            overflow: auto;
            .fromhe{
                width: fit-content;
                margin-left: auto;
                background-color: #fff;
                padding: 5px;
                position: relative;
                &:not(:first-child){
                    margin-top: 10px;
                }
                img{
                    width: 200px;
                    height: 200px;
                    margin-top: 5px;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top:0;
                    right: -14px;
                    width: 15px;
                    height: 15px;
                    background-color: #fff;
                    clip-path: polygon(0% 100%,100% 0%, 0% 0%);
                }
            }
            .fromme{
                width: fit-content;
                background-color: #d9fdd3;
                padding: 5px;
                position: relative;
                &:not(:first-child){
                    margin-top: 10px;
                }
                img{
                    width: 200px;
                    height: 200px;
                    margin-top: 5px;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top:0;
                    left: -14px;
                    width: 15px;
                    height: 15px;
                    background-color: #d9fdd3;
                    clip-path: polygon(100% 100%,100% 0%, 0% 0%);
                }
            }
            .time{
                font-size: 10px; 
                font-weight: 700;
                color: #b8b8b8;
            }
            .empty{
                border: 10px solid #5e5b8e;
                border-left-color: transparent;
                padding: 50px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                animation: anim 2s linear infinite; 
            }
        }
        >.form{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            >form{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .input-control{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    position: relative;
                    input{
                        padding: 10px 20px;
                        &:first-of-type{
                            flex-grow: 1;
                            border: 0;
                        }
                        &:focus{
                            border: 0;
                            outline:0;
                        }
                    }
                    .file{
                        position: absolute;
                        right: 110px;
                        z-index: 1;
                        width: 30px;
                        height: 35px;
                        overflow: hidden;
                        input{
                            opacity: 0;
                            position: relative;
                            z-index: 3;
                            cursor: pointer;
                        }
                        i{
                            position: absolute;
                            left:0;
                            top: -2px;
                            width: 100%;
                            height: 100%;
                            z-index: 2;
                            font-size: 30px;
                            color: #5e5b8e;
                        }
                    }
                    button{
                        padding: 10px 20px;
                        background-color: #5e5b8e;
                        color: #fff;
                        border: 0;
                        cursor: pointer;
                        transition: 0.4s;
                        &:disabled{
                            background-color: #636363;
                            color: black;
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }
    }
}
@keyframes anim {
    from{
        transform: translate(-50%,-50%) rotate(0deg);
    }to{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
@media (width <= 768px) {
    .home{
        flex-direction: column;
        width: 95%;
        height: 85vh;
    }
}
@media (width <= 992px) {
    .home{
        width: 85%;
        height: 85vh;
        flex-direction: column;
        .allusers{
            width: 100%;
            height: auto;
            overflow-y:visible;
            .myinfo{
                width: 100%;
            }
            .users{
                height: auto;
                flex-direction: row;
                flex-wrap: nowrap;
                max-width: 100%;
                overflow: auto;
                .user-info{
                    width: fit-content;
                    .info{
                        display: none;
                    }
                    img{
                        margin: 0;
                    }
                }
            }
        }
        .window{
            width: 100%;
            flex-grow: 1;
        }
    }
}